 .chat-message-user {
     display: flex;
     align-items: start;
     gap: 10px;
     padding: 12px 20px;
     justify-content: end;
 }

 .chat-message-robot {
     display: flex;
     align-items: start;
     gap: 10px;
     padding: 12px 20px;
     justify-content: start;
 }

 .chat-message-container {
     background-color: rgb(238, 238, 238);
     border-radius: 10px;
     max-width: 300px;
     display: flex;
     flex-direction: column;
 }

 .chat-message-texte {
     padding: 12px 20px;
 }

 .chat-message-time {
     padding-left: 20px;
     padding-bottom: 15px;
     color: gray;
     font-size: 15px;
 }

 .chat-message-profile {
     width: 45px;
 }